Host *.sw1v.org 19cw faith richard
     ForwardAgent yes

Host martinbrock.org
     User richard
     ForwardAgent yes

Host serv1 serv5
     HostName %h.sys.swiftserve.com
     ForwardAgent yes

Host dev
     HostName 192.168.2.200
     ForwardAgent yes

# override ssh port for certain swiftserve boxes
Host git.dev.swiftserve.com 3.eu.gw.swiftserve.com
     Port 22

Host ssbuild? ssbuild?.dev.swiftserve.com
     HostName %h.dev.swiftserve.com
     User jenkins
     ForwardAgent yes
     Port 22

Host *.swiftserve.com
     User root
     Port 2222
     ForwardAgent yes

# Exclude pa? from sg? pattern
Host *.staging *.testing *.sprinting *.wip *.gb? ca?.sg? da?.sg? *.de1 *.my? *.tw? *.id? *.id?? *.in? *.in?? *.hk? *.ie? *.jp? *.ph? *.preprod *.th? *.th?? *.use? *.usw? *.vn? portal provisioning puppet.dev puppet1.sys elk?.dev
     User root
     Port 2222
     ForwardAgent yes

Host pa?.sg?
     User nsroot

Host *.log *.sys
     User root
     ForwardAgent yes

Host 192.168.62.* alucache2
     User root
     StrictHostKeyChecking no
     UserKnownHostsFile /dev/null

Host 192.168.1.10 alucache2ilo
     User Administrator

Host router
     User root

Host ubuntu ubuntu2 lxctesthost
     HostName %h.testvm.swift

Host ubuntu ubuntu2 testvmhost1.swift lxctesthost ssbuildhost?.swift
     User root
     ForwardAgent yes

Host testvmhost1.swift
     ForwardX11 yes

Host conversant
    User adam
    Hostname 116.12.172.141
    Port 8022
    ForwardAgent yes

Host sellyoak
    User versio4
    Port 22
    Hostname 116.12.172.137
    ForwardAgent yes

Host ca1.sg1
    Hostname 172.16.1.30

Host ca2.sg1
    Hostname 172.16.1.31

Host netscaler
    Hostname 203.116.18.250
    User nsroot

Host nstest.dev
    User nsroot

Host ca1.sg1 ca2.sg1
    ProxyCommand ssh sellyoak nc %h %p

Host *.th8 *.th9 *.th30
    ProxyCommand ssh provisioning nc %h %p

Host *.swift
    ProxyCommand ssh 3.eu.gw.swiftserve.com nc %h %p
