Host *.sw1v.org *.swiftserve.com 19cw faith richard
     ForwardAgent yes

Host martinbrock.org
     User richard
     ForwardAgent yes

Host serv1
     HostName %h.sys.swiftserve.com
     ForwardAgent yes

Host dev
     HostName 192.168.2.200
     ForwardAgent yes

Host buildslave
     HostName swiftserve2-autobuild.dev.swiftserve.com
     User root
     ForwardAgent yes

Host buildslave-rpm
     HostName swiftserve2-autobuild-centos.dev.swiftserve.com
     User root
     ForwardAgent yes

Host ssbuild1 ssbuild2
     HostName %h.dev.swiftserve.com
     User buildslave
     ForwardAgent yes

Host *.staging *.testing *.sprinting *.gb? *.sg? *.de? *.my? *.tw? *.id? *.id?? *.in? *.in?? *.hk? *.ie? *.jp? *.ph? *.preprod *.th? *.th?? *.usw? *.vn?
     User root
     Port 2222
     ForwardAgent yes
     StrictHostKeyChecking no

Host *.log *.sys
     User root
     ForwardAgent yes

Host 192.168.62.100
     User root

Host 192.168.62.10
     User Administrator

Host router
     User root