Host *.sw1v.org *.swiftserve.com 19cw faith
     ForwardAgent yes

Host martinbrock.org
     User richard
     ForwardAgent yes


Host serv1
     HostName %h.sys.swiftserve.com
     ForwardAgent yes

Host ca1.staging ca1.testing
     User root
     Port 2222
